@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
/* ... */
.navbuttoncontact {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #52a2dd;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  color: #ffffff;
}

.headerp1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #000000;
}

.next {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  background: linear-gradient(180deg, #b4b4b4 20.47%, #b4b4b4 71.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.headerpara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #4d4a4a;
}

.discoverbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  background: #89b374;
  border-radius: 42px;
  color: #ffffff;
}
.searchtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  color: #000000;
}

.searchborder {
  background: rgba(237, 243, 255, 0.69);
  border: 1px solid #f8fbff;
}

.FeauturedListing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #000000;
}
.listings {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  background: linear-gradient(180deg, #b4b4b4 20.47%, #b4b4b4 71.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rating {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0%;
  letter-spacing: 0.01em;
  color: #000000;
}

.cardp1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #000000;
}
.cardp2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #4d4a4a;
}

.night {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #000000;
}

.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #000000;
}

.dollar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #52a2dd;
}

.borderofcard {
  filter: drop-shadow(0px 3px 5px rgba(191, 186, 186, 0.25));
}

.city {
  background: linear-gradient(180deg, #5cd6c0 0%, #22c3a6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.fontjust {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
}

.placepara {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #747474;
}
.readmore {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #27273f;
}

.clientname {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #747474;
}

.clientcity {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6e7491;
}
.subs {
  background: #52a2dd;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;

  color: #ffffff;
}

.newsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 101%;
  letter-spacing: 0.01em;
  color: #000000;
}

.newspcolor {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 101%;

  letter-spacing: 0.01em;
  color: #89b374;
}
.searchborder {
  background: rgba(237, 243, 255, 0.69);
  border: 1px solid #f8fbff;
}
.emailborder {
  background: rgba(237, 243, 255, 0.69);
  border: 1px solid #f8fbff;
}

.lable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height */

  color: #fff8f0;
}

.contactus {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 72px;
  /* identical to box height */

  color: #000000;
}

.footertext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.copy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;

  color: #000000;
}

.footercolor {
  background: rgba(237, 243, 255, 0.69);
}

.OurBlog {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #393939;
}

.cityblog {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #605dec;
}

.readmore {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-decoration-line: underline;

  color: #747474;
}

.OurBlog2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 129.5%;
  letter-spacing: 0.01em;
  color: #393939;
}

.desandwhat {
  background: #89b374;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
  color: #000000;
}

.dis {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 189.5%;
  /* or 38px */

  letter-spacing: 0.01em;

  color: #000000;
}
.night {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 129.5%;
  /* identical to box height, or 34px */

  letter-spacing: 0.01em;

  color: #000000;
}

.guest {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #747474;
  opacity: 0.9;
}

.re {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 129.5%;
  /* identical to box height, or 26px */

  letter-spacing: 0.01em;

  color: #ffffff;
}

.n1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #393939;
}

.n2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #393939;

  opacity: 0.9;
}

.borderright {
  background: #ffffff;
  box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.Detaildescription1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 129.5%;
/* or 87px */

text-align: center;
letter-spacing: 0.01em;

background: linear-gradient(180deg, rgba(82, 162, 221, 0.15) 5.76%, rgba(82, 162, 221, 0) 100%);
color: #000000;

}

.ah1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 189%;
  /* or 76px */
  
  letter-spacing: 0.01em;
  
  color: #000000;
}
.ah2{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 189%;
/* or 45px */

letter-spacing: 0.01em;

color: #000000;
}

.bgg{
  background: linear-gradient(180deg, #AED3EE 41.28%, #BBD3AF 141.28%);
}